

<form action="/login" method="post">
  <b>Login</b><br>
    <input name="username" id="username" type="text" placeholder="User ID"><br>
    <input name="password" id="password" type="password" placeholder="Password">
      <button type="submit">Log In</button>
</form>
<br>

<form action="/signup" method="post">
  <b>Signup</b><br>
    <input name="username" id="username" type="text" placeholder="User ID"><br>
    <input name="password" id="password" type="password" placeholder="Password">
      <button type="submit">Sign Up</button>
</form>